body{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main{

    height: 100%;
    width: 100%;
    display: flex;

}

.rodape__listaDesordenada{

    display: flex;
    justify-content: center;
    gap: 2%;

}

.caixaDeTexto{

    height: 10%;
    width: 10%;

}