body{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    color: white;

}

main{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

footer{

    width: 100%;

}

.rodape__listaDesordenada{

    display: flex;
    justify-content: space-evenly;
    font-size: 150%;

}

.caixaDeInput{

    width: 40%;
    height: 5%;
    font-size: 150%;
    background-color: #333333;
    color: white;    

}

.caixaDeOutput{

    height: 40%;
    width: 40%;
    font-size: 170%;
    background-color: #333333;
    color: white;

}

div{

    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    height: 100%;
    width: 50%;

}

button{

    height: 5%;
    font-size: 120%;

}

label{

    font-size: 160%;

}